header {
  padding: 25px 150px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0 , 0, 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-theme-container {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.dark-theme-container > img {
  width: 25px;
  margin-right: 10px;
}
