.form-control {
  padding: 15px 70px 15px 0px;
  width: 500px;
  max-width: 100%;
  border:  none;
  box-shadow: 1px 1px 5px 1px rgba(0, 0 , 0, 0.3);
  border-radius: 5px;

  padding-left: 70px;
  background: url(../../../../assets/images/icons8-búsqueda-30.png) no-repeat 20px 15px white;
  background-size: 20px;
  font-size: 16px;
}

.dark-class {
  background-color:  hsl(209, 23%, 22%);
  color: white;
  background: url(../../../../assets/images/icons8-búsqueda-50.png) no-repeat 20px 15px;
  background-size: 20px;
}

.dark-class::placeholder {
  color: white;
}
