.container {
  padding-top: 95px;
  background-color: hsl(0, 0%, 98%);
  height: 100vh;
}

.search-container {
  margin: 50px 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
